<div class="palm-page-header multi-line">
  <div class="palm-page-header-wrapper">
    <div class="palm-row first">
      <div class="palm-row-wrapper">
        <div id="title" style="padding: 10px; font-size: 20px; text-align: center;"></div>
      </div>
    </div>
  </div>
</div>

<div id="spinContainer" class="palm-scrim">
  <div x-mojo-element="Spinner" id="spinner"></div>
</div>

<div style="margin: 5px; font-size: 14px;">
  <div style="float:left; height: 130px; width: 105px"><img id="gameImage" src="" width="100px" height="120px" /></div>
  <div>
    <div id="platforms"></div>
    <div id="release" style="margin-top: 5px"></div>
    <div id="developers" style="margin-top: 5px"></div>
  </div>
</div>

<div style="clear: both"></div>

<div id="reviewContainer" style="margin: 5px; font-size: 14px; background-color: #222222; -webkit-border-radius: 8px; padding: 10px 6px 10px 6px; display: none;">
  <div id="reviewButton" style="float:right; display: inline-block; font-weight: bold; background-color: #DF2121; color: white; height: 24px; margin-top: -5px; padding: 5px 5px 0px 5px; -webkit-border-radius: 4px;">Read review</div>
  <img id="reviewScore" src=""/>
</div>

<div id="detailContainer" style="margin: 5px; font-size: 16px;">
</div>

<div style="margin: 5px; margin-top: 20px; display: none">
  <div class="standalonegblogo" style="float:left"></div>
  <div id="viewOriginal" style="color: lightblue; text-decoration: underline;">View original article</div>
  <div style="clear:both">
</div>

