<div class="palm-page-header multi-line">
  <div class="palm-page-header-wrapper">
    <div class="palm-row first">
      <div class="palm-row-wrapper">
        <div id="title" style="padding: 10px; font-size: 20px; text-align: center;"></div>
      </div>
    </div>
  </div>
</div>

<div id="newsContainer" style="margin: 5px; font-size: 16px;">
</div>

<div style="margin: 5px; margin-top: 20px;">
  <div class="standalonegblogo" style="float:left"></div>
  <div id="viewOriginal" style="color: lightblue; text-decoration: underline;">View original article</div>
  <div style="clear:both">
</div>

