body {
 /* background-color: black !important;*/
}

.palm-dark .palm-menu.command-menu.palm-default > .palm-menu-fade {
  background: url('../images/dark-command-menu-gradient.png') bottom left repeat-x !important;
}

.standalonegblogo {
  background:url(../images/gblogo.png) center center no-repeat;
  width: 48px;
  height: 32px;
}

.palm-header .icon.gblogo {
  background:url(../images/gblogo.png) center center no-repeat;
  width: 48px;
  height: 32px;
  position: absolute;
  left: 0px;
  margin-right: -18px;
  margin-top: 9px;
}

/* news item */
.newsItem {
  padding: 5px 5px 5px 5px;
  clear: both;
}

.newsItemTitle {
  font-size: 18px;
  min-height: 40px;
}

.newsItemSubRow {
  padding-top: 5px;
  font-size: 12px;
}

.videoItem {
  min-height: 50px;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 3px;
  clear: both;
}

.videoItemTitle {
  font-size: 16px;
  padding-left: 55px;
}

.videoItemDesc {
  font-size: 14px;
  margin-top: 5px;
}

.videoIcon {
  width: 50px;
  height: 50px;
  float: left;
  border: 1px solid #A4A4A4;
}

.reviewItem {
  min-height: 50px;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 3px;
}

.reviewItemTitle {
  font-size: 16px;
}
