body {
 /* background-color: black !important;*/
}

.palm-dark .palm-menu.command-menu.palm-default > .palm-menu-fade {
  background: url('../images/dark-command-menu-gradient.png') bottom left repeat-x !important;
}

.standalonegblogo {
  background:url(../images/gblogo.png) center center no-repeat;
  width: 48px;
  height: 32px;
}

.palm-header .icon.gblogo {
  background:url(../images/gblogo.png) center center no-repeat;
  width: 48px;
  height: 32px;
  position: absolute;
  left: 0px;
  margin-right: -18px;
  margin-top: 9px;
}

/* news item */
.newsItem {
  padding: 5px 5px 5px 5px;
  clear: both;
}

.newsItemTitle {
  font-size: 18px;
  min-height: 40px;
}

.newsItemSubRow {
  padding-top: 5px;
  font-size: 12px;
}

.videoItem {
  min-height: 50px;
  padding-left: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 3px;
  clear: both;
}

.videoItemTitle {
  font-size: 16px;
  padding-left: 55px;
}

.videoItemDesc {
  font-size: 14px;
  margin-top: 5px;
}

.videoIcon {
  width: 50px;
  height: 50px;
  float: left;
  border: 1px solid #A4A4A4;
}

.reviewItem {
  min-height: 50px;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 3px;
}

.reviewItemTitle {
  font-size: 16px;
}

.bombcastItem {
  padding-left: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 3px;
}

.bombcastItemTitle {
  font-size: 18px;
}

.bombcastItemDescription {
  margin-top: 10px;
  font-size: 14px;
}


/* Search */

.has-search-bar-top .palm-page-header {
  background: none;
  padding-bottom: 0px;
  margin-bottom: 5px;
  min-height: 52px;
  -webkit-border-image: none;
}

.search-bar-top .filter-field-container-height {
  height: 52px;
}

.search-bar-top .search-field {
  height: 50px;
  position: relative;
  top: -4px;
}

.search-bar-top input,
.search-bar-top textarea {
  border: none;
  outline: none;
}

.search-bar-top .focused .palm-row .textfield-group .search-field input {
  color: black !important;
}

.icon.right.submit {
  display: block;
  height: 44px;
  width: 40px;
  margin-right: -8px;
  background: url(../images/btn-submit-search.png) center center no-repeat;
}

.search-bar-top .filter-field-container.focused {
  -webkit-border-image: url(../images/filter-search-dark-focused-bg.png) 26 23 20 23 repeat repeat;
}

.search-bar-top .textfield-group {
  -webkit-border-image: url(../images/framework/textfield-noshadow.png) 15 15 15 15 stretch stretch;
}

.searchItem {
  padding-left: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 3px; 
}

.searchItemData {
  padding-left: 55px;
}

.searchItemTitle {
  font-size: 16px;
}

.searchItemType {
  padding-top: 10px;
  font-size: 14px
}

.searchIcon {
  width: 50px;
  height: 50px;
  float: left;
  border: 1px solid #A4A4A4;
}


/* support stuff */
/* Put Application specific CSS here. */
.img_icon {
  position:absolute;
  left:10px;
  top:5px;
  width:48px; 
  height:32px;
  background: url(../images/gblogo.png) no-repeat center ;
  padding: 10px 0px 0px 5px;
  float:left;  
}
.list_scene {
  position:relative;
  left:48px;
  top:10px;
  width:32px; 
  height:32px;
  vertical-align:bottom;
  padding: 0px 0px 0px 5px;
  float:left;
}
.img_email {
  position:relative;
  left:8px;
  top:10px;
  width:32px; 
  height:32px;
  background: url(../images/application-email.png) no-repeat bottom;
  vertical-align:bottom;
  padding: 0px 0px 0px 5px;
  float:left;
}
.img_web {
  position:relative;
  left:8px;
  top:10px;
  width:32px; 
  height:32px;
  background: url(../images/application-web.png) no-repeat bottom;
  padding: 0px 0px 0px 5px;
  float:left;
}

.aboutDivider {
  margin-top: 20px;
  clear: both;
}

