<div id="main" class="palm-hasheader">
  <div class="palm-header">About Giant Bomb</div>
</div>

<div style="padding-left: 10px; padding-right: 20px; font-size: 0.7em;">
  <div class="aboutDivider">
    GiantBomb is a Palm webOS app for Whiskey Media's <a href="http://www.giantbomb.com">GiantBomb.com</a> website, the world's largest editable video game database.  This app is not affiliated with or endorsed by Whiskey Media Inc.
  </div>

  <div class="aboutDivider">
    This app uses the <a href="http://api.giantbomb.com/">official GiantBomb API</a> provided by Whiskey Media.
  </div>

  <div class="aboutDivider">
    This app's sourcecode is fully open source and licenced under the Mozilla Public License 1.1.  The source code can be <a href="http://github.com/nexapps/GiantBomb-for-WebOS">accessed from our github repository</a>.
  </div>

  <div class="aboutDivider">
    Giant Bomb, the Giant Bomb logo &copy; Whiskey Media.
  </div>

  <div class="aboutDivider">
    Copyright &copy; 2010-2011, nexapps.net
  </div>

  <div style="margin-top: 30px">
    This app uses open source projects and would like to thank them:

    <ul>
      <li>
        Some icons courtesy of the <a href="http://tango.freedesktop.org">Tango Desktop Project</a>, released to the Public Domain.
      </li>
    </ul>
  </div>
</div>
